.dropdown {
    position: relative;
    background-color: #fff;
}

.toggle {
    position: relative;
    height: 56px;
    width: 100%;
    border: 1px solid rgba(#8a96ba, 0.2);
    border-radius: 5px;

    padding: 10px 20px;
    padding-right: 40px;
    display: flex;
    align-items: center;

    background: none;

    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    font-weight: 600;

    &:focus {
        outline: none;
        border-color: #3e83ff;
    }

    .disabled & {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.icon {
    position: absolute;
    right: 10px;
    color: #b9b9b9;
}

.placeholder {
    color: #8a96ba;

    .selected & {
        color: #3e83ff;
        position: absolute;
        animation: placeholder 0.1s both;
    }
}

@keyframes placeholder {
    from {
        top: 12px;
        opacity: 0;
    }
    to {
        opacity: 1;
        font-size: 10px;
        top: 8px;
        left: 20px;
    }
}

@keyframes placeholder_2 {
    from {
        top: 8px;
        opacity: 0;
    }
    to {
        opacity: 1;
        font-size: 10px;
        top: 2px;
        left: 20px;
    }
}

.label {
    color: #210d4a;
    margin-top: 10px;
    font-size: 0;

    opacity: 0;
    transition: opacity 0.15s ease-in;

    .selected & {
        opacity: 1;
        font-size: 16px;
    }
}

.content {
    position: absolute;
    top: 61px;
    left: 0;
    width: 300px;
    padding: 10px 0;

    z-index: 2;

    border: 1px solid rgba(#8a96ba, 0.2);
    border-radius: 5px;
    background-color: #fff;
}

.contentList {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 300px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-thumb {
        border: 8px solid #fff;
        background-color: #3e83ff;
        border-radius: 100vh;
    }

    li {
        width: 100%;
    }
}

.item {
    cursor: pointer;
    display: block;
    padding: 10px 20px;

    &:hover {
        background-color: #f1f1f1;
    }

    &.active {
        font-weight: 600;
        background-color: #edf5ff;
    }
}

.placeholder,
.label,
.item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background-color: #fff;

    font-family: Source Sans Pro, sans-serif;
    font-size: 13px;
    line-height: 1;
    color: #8a96ba;

    &:hover {
        color: #3e83ff;
    }

    svg {
        margin-right: 10px;
    }
}
