.search-wrapper {
  display: flex;
  flex-direction: row;
}

.category {
  width: 270px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  border-top: 1px solid #F3F4F5;
  border-bottom: 1px solid #F3F4F5;
}

.products {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 40px;
}